In [1]:
#Example 5.1.1
tuple1 = ()
print(tuple1)

()

In [2]:
#Example 5.1.2
tuple2 = (2,4,9)
print(tuple2)

(2, 4, 9)

In [3]:
#Example 5.1.3
tuple3 = ('SCMA',[2,4,9])
print(tuple3)

('SCMA', [2, 4, 9])

In [4]:
#Example 5.1.4
tuple4 = 'SCMA',[2,4,9]
print(tuple4)

('SCMA', [2, 4, 9])

In [5]:
#Example 5.1.5
a, b = tuple4
print(a)
print(b)

SCMA
[2, 4, 9]

In [9]:
#Example 5.2
mytuple = ('Computer Programming')
print(type(mytuple))
mytuple = ('Computer Programming',)
print(type(mytuple))

<class 'str'>
<class 'tuple'>

In [10]:
#Example 5.3.1
tuple5 = ('S', 'C', 'M', 'A', ' ', '2', '4', '9')
print(tuple5)

('S', 'C', 'M', 'A', ' ', '2', '4', '9')

In [11]:
#Example 5.3.2
tuple5[0]

'S'

In [12]:
#Example 5.3.3
tuple5[5:8]

('2', '4', '9')

In [ ]:
#Example 5.3.4
tuple5[-1]

In [13]:
#Example 5.3.5
tuple5[-3:]

('2', '4', '9')

In [14]:
#Example 5.4.1
l1 = [('A','S'),(2,0,1,9),('SC',)]
print(l1)

[('A', 'S'), (2, 0, 1, 9), ('SC',)]

In [15]:
#Example 5.4.2
l1[1]

(2, 0, 1, 9)

In [16]:
#Example 5.4.3
l1[1][3]

9

In [17]:
#Example 5.4.4
l1[1][3] = 8

TypeError: 'tuple' object does not support item assignment

In [27]:
#Example 5.5.1
t1 = (['A','S'],[2,0,1,9],['SC'])
print(t1)

(['A', 'S'], [2, 0, 1, 9], ['SC'])

In [28]:
t1[1]

[2, 0, 1, 9]

In [29]:
t1[1][3]

9

In [30]:
t1[1][3] = 8
print(t1)

(['A', 'S'], [2, 0, 1, 8], ['SC'])

In [24]:
#Example 5.6
#Concatenaion
print(('P','y')+('t','h','o','n'))
#Repeat
print(('P','y')+('t','h','o','n')*3)
print((('P','y')+('t','h','o','n'))*3)

('P', 'y', 't', 'h', 'o', 'n')
('P', 'y', 't', 'h', 'o', 'n', 't', 'h', 'o', 'n', 't', 'h', 'o', 'n')
('P', 'y', 't', 'h', 'o', 'n', 'P', 'y', 't', 'h', 'o', 'n', 'P', 'y', 't', 'h', 'o', 'n')

In [31]:
#Example 5.7
del t1
print(t1)

NameError: name 't1' is not defined

In [32]:
#Example 5.8
t1 = ('s','u','n','t','a','r','e','e')

In [35]:
#Example 5.8.1
#count(x)-Return the number of items x
print(t1.count('e'))

2

In [37]:
#Example 5.8.2
#index(x)-Return the index of the
#first items that is equal to x
print(t1.index('n'))

2

In [38]:
#Example 5.8.3
#Membership test-test if an item exist
#in a tuple or not, using the word “in”
print('e' in t1)

True

In [39]:
#Example 5.8.4
print('i' in t1)

False

In [41]:
#Example 5.8.5
#Iterating through a tuple
for name in ('Atom','Beam','Pink'):
    print('Hello',name,'!')

Hello Atom !
Hello Beam !
Hello Pink !

In [4]:
#Example 5.9
days = {'JAN':31, 'FEB':28, 'MAR':31, 'APR':30,
'MAY':31, 'JUN':30, 'JUL':31, 'AUG':31,
'SEP':30, 'OCT':31, 'NOV':30, 'DEC':31}
print(days)

{'JAN': 31, 'FEB': 28, 'MAR': 31, 'APR': 30, 'MAY': 31, 'JUN': 30, 'JUL': 31, 'AUG': 31, 'SEP': 30, 'OCT': 31, 'NOV': 30, 'DEC': 31}

In [5]:
#Example 5.10
mydict = {}
mydict['pi'] = 3.14
mydict['22/7'] = 3.14
mydict[2.99] = [2,9,9]
mydict[(2,4,9)] = 249
print(mydict)

{'pi': 3.14, '22/7': 3.14, 2.99: [2, 9, 9], (2, 4, 9): 249}

In [6]:
#Example 5.11.1
print(days['JAN'])

31

In [7]:
#Example 5.11.2
print(mydict['pi'])

3.14

In [8]:
#Example 5.11.3
print(mydict[(2,4,9)])

249

In [9]:
#Example 5.11.4
print(mydict[22/7])

KeyError: 3.142857142857143

In [10]:
#Example 5.11.5
print(mydict.get(22/7))

None

In [53]:
#Example 5.12.1
#Add the element
mydict['ADD'] = 'add the element to dict'
print(mydict)

{'pi': 3.14, '22/7': 3.14, 2.99: [2, 9, 9], (2, 4, 9): 249, 'ADD': 'add the element to dict'}

In [54]:
#Example 5.12.2
#Change the element
mydict['pi'] = 22/7
print(mydict)

{'pi': 3.142857142857143, '22/7': 3.14, 2.99: [2, 9, 9], (2, 4, 9): 249, 'ADD': 'add the element to dict'}

In [56]:
#Delete the element we added in Example
#5.12.1 from mydict
del mydict['ADD']
print(mydict)

{'pi': 3.142857142857143, '22/7': 3.14, 2.99: [2, 9, 9], (2, 4, 9): 249}

In [57]:
#Delete a dictionary mydict
del mydict
print(mydict)

NameError: name 'mydict' is not defined

In [61]:
#Example 5.14
n = int (input('Enter number of student:')) 
slist = {}
for i in range (0,n):
    print('Please enter the information of student', i+1)
    sid = str(input('Enter student ID: ')) 
    sname = input('Enter name:')
    slast = input('Enter lastname:')
    stel = str(input('Enter phone number:')) 
    smail = input ('Enter e-mail address:')
    snick = input ('Enter nickname:') 
    slist[sid] = [sname, slast, snick, stel, smail] 
    print ('Thank you!\n')
    
print (slist)

Enter number of student:2
Please enter the information of student 1
Enter student ID: 43524
Enter name:Thanakorn
Enter lastname:Pongritsakda
Enter phone number:0909745454
Enter e-mail address:tpongritsakdawork@gmail.com
Enter nickname:Phu
Thank you!

Please enter the information of student 2
Enter student ID: 43525
Enter name:Teeradol
Enter lastname:Sinpanee
Enter phone number:0846402850
Enter e-mail address:poohbear.tee@gmail.com
Enter nickname:Meepooh
Thank you!

{'43524': ['Thanakorn', 'Pongritsakda', 'Phu', '0909745454', 'tpongritsakdawork@gmail.com'], '43525': ['Teeradol', 'Sinpanee', 'Meepooh', '0846402850', 'poohbear.tee@gmail.com ']}

In [34]:
#Example 5.15.1
s1 = {1,2,3}
print(s1)

{1, 2, 3}
{}

In [31]:
#Example 5.15.2
s2 = {'t','h','r','e','e'}
print(s2)

{'t', 'h', 'r', 'e'}

In [30]:
#Example 5.15.3
s3 = set({1,2,'t','h'})
print(s3)

{'t', 1, 2, 'h'}

In [66]:
#Example 5.15.4
s4 = set([1,4,4,4,5,1])
print(s4)

{1, 4, 5}

In [45]:
#Example 5.15.5
print(set('This is a test.'))

{'t', 'h', 'i', 'a', 'e', 'T', ' ', 's', '.'}

In [48]:
x = {3,4,5}
y = {1,2,3,4,5}

In [49]:
print(x|y)
#x.union(y) #Same meaning

{1, 2, 3, 4, 5}

In [50]:
print(x & y)
#x.intersection(y)

{3, 4, 5}

In [51]:
print(x - y)
#x.difference(y)

set()

In [52]:
print(x ^ y)
#Returns the symmetric difference
#of sets x and y (the elements
#belonging to either x or y, but not
#to both sets simultaneously).
#Mathematically, (x ∪ y) – (x ∩ y).

{1, 2}

In [53]:
print(x <= y)
# x.issubset(y)

True

In [54]:
print(3 in y)
#t in y (Check if t is an element of y)

True